# Directory which contains npm packages
node_modules

# Used for debugging NPM
npm-debug.log

# Used by Vagrant
.vagrant

# Environment variables file
*env_vars

# Ignore compiled javascript files
public/javascript/*

# Ignore Flyway prod conf
flyway.prod.conf
