<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/enter-workout.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script src="javascript/enterWorkout.js"></script>
    <title>Stronglifts Workout Tracker</title>
  </head>
  <body>
    <h1>
      Submit a <a href="http://stronglifts.com">Stronglifts</a> Workout
    </h1>
    <p>Enter the weight of your exercises in lbs.</p>
    <p>If a workout for a given date already exists, submitting will overwrite it.</p>
    <form class="workout-form" id="workout-form">
      <label>Squats: <input type="text" id="squats" value="0"></label>
      <label>Bench Press: <input type="text" id="bench-press" value="0"></label>
      <label>Barbell Rows: <input type="text" id="barbell-rows" value="0"></label>
      <label>Overhead Press: <input type="text" id="overhead-press" value="0"></label>
      <label>Deadlifts: <input type="text" id="deadlifts" value="0"></label>
      <label>Date: <input type="date" id="date"></label>
      <button>Submit</button>
    </form>
    <span id="failure" style="display: none"></span>
    <span id="success" style="display: none"></span>
  </body>
</html>
