.submit-header {
  margin-left: 50;
}

.submit-instructions {
  font-size: 18px;
  margin-left: 50;
}

.workout-form {
  display: flex;
  flex-direction: column;
  margin-left: 50;
  width: 20%;
}

#success {
  display: none;
  font-size: 18px;
  margin-left: 50;
}

#failure {
  color: red;
  font-size: 18px;
  margin-left: 50;
}
