.view-header {
  margin-left: 50;
}

.workoutForm {
  margin-left: 50;
}

.workoutList {
  margin-left: 50;
}

.workout {
  margin-bottom: 10;
}

.successMessage {
  color: green;
}

.failureMessage {
  color: red;
}

#submitWorkout {
  width: 100;
}
