h2 {
  margin-left: 50;
}

.submitter {
  margin-left: 50;
}

.WorkoutList {
  margin-left: 50;
}

.Workout {
  margin-bottom: 10;
}

.successMessage {
  color: green;
}

.failureMessage {
  color: red;
}

#submitWorkout {
  width: 100;
}
